html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.table {
  display:table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-cell--right {
  text-align: right;
}

.cell-child {
  display: inline-block;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
